.header {
    /* background-color: rgb(118, 156, 156); */
    background-image: url(https://images.pexels.com/photos/113338/pexels-photo-113338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

    height: 90px;
}

.sub_header {
    display: flex;
}

.header_title {
    animation: dropdownFade 1.5s;
    display: flex;
    align-items: center;
    height: 100%;
}


.header_title:hover {
    opacity: .7;
}


@keyframes dropdownFade {
    0% {
      opacity: 0;
      transform: translateX(-30px)
    }
  
    100% {
      opacity: 1;
      transform: translateX(0)
      
    }
  }